@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Titillium Web", sans-serif;
  /* height: 100rem; */
  scroll-behavior: smooth;
}
button {
  border: none;
  padding: 10px 10px;
  border-radius: 2rem;
  font-size: 1rem;
  /* width: 12rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
