@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.card {
  @apply relative border-0 bg-white rounded-xl shadow-lg p-8 transition-all duration-300 transform hover:-translate-y-2 hover:scale-105 hover:shadow-2xl;

  /* Decorative bottom-left line */
}
.card::after {
  content: '';
  @apply absolute bottom-0 left-0 h-1 w-0 bg-orange-500 transition-all duration-300 rounded-r-full ;
   border-bottom-left-radius: 9999px; /* match rounded corner of card */
}

/* Show the line on hover */
.card:hover::after {
  @apply w-1/2; /* 50% width */
}
