@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
}

.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 15px;
  background: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  z-index: 999;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.card {
  @apply relative border-0 bg-white rounded-3xl shadow-lg hover:shadow-2xl p-8 transition-all duration-300 transform hover:-translate-y-2 hover:scale-105;
}
